.polygon1 {
    position: relative;
    background: url("/public/images/newLogin/bcp.jpg"),
        linear-gradient(rgba(0, 191, 255, 0.2), rgba(0, 191, 255, 0.2));
    background-blend-mode: overlay;
    width: 610px;
    height: 100vh;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    z-index: 1;
}

.polygon2 {
    position: absolute;
    background: #00308f;
    left: 30px;
    width: 610px;
    height: 100vh;
    -webkit-clip-path: polygon(
        75% 0%,
        100% 50%,
        75% 100%,
        72% 100%,
        987% 50%,
        72% 0
    );
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 72% 100%, 97% 50%, 72% 0);
}

.logo {
    position: absolute;
    width: 45%;
    top: 30%;
    left: 20%;
}

@media screen and (max-width: 1120px) {
    .polygon1,
    .polygon2 {
        width: 500px;
    }

    .logo {
        top: 35%;
    }
}

@media screen and (max-width: 992px) {
    .loginContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .polygon1 {
        position: static;
        width: 100%;
        background: url("/public/images/newLogin/bcp.jpg"),
            linear-gradient(rgba(0, 191, 255, 0.5), rgba(0, 191, 255, 0.5));
        -webkit-clip-path: polygon(100% 7%, 50% 15%, 0 7%, 0 0, 49% 0, 100% 0);
        clip-path: polygon(100% 7%, 50% 15%, 0 7%, 0 0, 49% 0, 100% 0);
    }

    .polygon2 {
        width: 100%;
        left: 0;
        top: 1.5%;
        -webkit-clip-path: polygon(
            100% 7%,
            50% 17%,
            0 7%,
            0 6%,
            50% 15%,
            100% 6%
        );
        clip-path: polygon(100% 7%, 50% 17%, 0 7%, 0 6%, 50% 15%, 100% 6%);
    }

    .logo {
        position: static;
        max-width: 100px;
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 15px;
    }

    .form-container {
        position: absolute;
        top: 20%;
        left: 0;
    }
}

.header1 {
    color: rgb(0, 191, 255);
}

.header2 {
    color: black;
}

.form-header1 {
    border-left: solid #00308f 8px;
}

.lineBreak {
    border-bottom: 3px solid #6c757d;
    display: block;
    margin: auto;
}


